fastapi
uvicorn
sqlalchemy
alembic
python-dotenv
pydantic
pydantic[email]
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
requests
PyPDF2
python-docx
python-multipart
PyJWT
psycopg2-binary
argon2-cffi

# AI libs - keep commented in web service for now
# sentence-transformers
# transformers
# torch
# accelerate
# scikit-learn
