fastapi
uvicorn
sqlalchemy
alembic
python-dotenv
pydantic
pydantic[email]
python-dotenv
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
sentence-transformers
scikit-learn
requests
PyPDF2
python-docx
transformers
torch
accelerate
